---
import { Icon } from "astro-icon/components";
const { link } = Astro.props;

const linkClasses = [
  // Base
  "flex items-center gap-2 rounded-full px-6 py-3 text-lg transition-colors",

  // Light mode
  "bg-lightModeCustomLinkBackground",
  "text-lightModeCustomLinkText",
  "ring-2 ring-lightModeCustomLinkOutline",

  // Hover
  "hover:bg-lightModeCustomLinkBackgroundHover",
  "hover:text-lightModeCustomLinkTextHover",
  "hover:ring-lightModeCustomLinkOutlineHover",

  // Dark mode
  "dark:bg-darkModeCustomLinkBackground",
  "dark:text-darkModeCustomLinkText",
  "dark:ring-darkModeCustomLinkOutline",

  // Dark Hover
  "dark:hover:bg-darkModeCustomLinkBackgroundHover",
  "dark:hover:text-darkModeCustomLinkTextHover",
  "dark:hover:ring-darkModeCustomLinkOutlineHover"
].join(" ");

const iconClasses = [
  // Base
  "size-6 transition-colors",
  
  // Light mode
  "text-lightModeIconLinkText",
  
  // Hover
  // "group-hover:text-lightModeIconLinkTextHover",
  
  // Dark mode
  "dark:text-darkModeIconLinkText",
  
  // Dark Hover
  // "group-hover:dark:text-darkModeIconLinkTextHover"
].join(" ");
---

<li>
  <a
    href={link.url}
    class={linkClasses}
  >
    <div class="flex items-center justify-between w-full">
      <Icon
        name={link.icon ?? "link"}
        class={iconClasses}
      />
      <div class="flex-1 text-center">
        <p class="font-semibold">
          {link.title}
        </p>
        {link.description ? (
          <p class="text-sm text-lightModeForegroundMuted dark:text-darkModeForegroundMuted">
            {link.description}
          </p>
        ) : null}
      </div>
      <Icon
        name={"lucide:chevron-right"}
        class={iconClasses}
      />
    </div>
  </a>
</li>
